<template>
    <div class="article-info">
        <div class="row">
            <div class="col-1">
                <img class="article-icon" v-bind:src="require(`../assets/img/article.png`)" alt="article" />
            </div>
            <div class="col-9">
                <router-link :to="`/knowledgebase/article/${article.id}`">
                <h4>{{article.title}}</h4>
                <p class="last-update">Last update  {{calculateDays(article.updatedOn)}} days ago</p>
                </router-link>
            </div>
        </div>
    </div>
    
</template>
<script>
import shared from '../shared.js'

export default {
    name: "ArticleItem",
    props: ["article"],
    methods: {
        calculateDays: shared.calculateDays
    }
}
</script>
<style lang="scss" scoped>
@import '../scss/_variables.scss';
h4 {
    font-size: 1.1em;
}
h5 {
    color: $text-gray;
    text-align: center;
    font-size: 1.1em;
    padding-top: 20px;
}
.article-info {
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: left;
    padding:15px 0 0 0;
    margin-left: 5em;
    margin-bottom: 1em;
    min-height: 70px;
    background: url('../assets/img/arrow.png') no-repeat;
    background-position: 96%;
    background-size: 20px;
    background-color: $cat-bg;
}
.article-info:hover {
    border-color: $green;
}

.cat-bottom-info {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 15px;
}
.cat-bottom-info p {
    font-size: 0.7em;
    color: $text-gray;
    margin-bottom: -5;
    padding:10px 15px 0;

}
.cat-bottom-info img {
    width: 25px;
}
.article-num-side {
    text-align: right;
    padding-right: 15px;
}
.article-num-side img {
    width: 20px;
}
.article-num-side span {
    font-size: 0.7em;
    line-height: 0;
    color: $text-gray;
}
.article-icon {
    width: 25px;
    margin-left: 20px;
    margin-top: 5px;
}

p.article-num {
    font-size: 0.7em;
    color: $green;
    margin: 0;
    margin-top:15px;
    font-weight: 700;
}

p.last-update {
    font-size: 0.6em;
    margin: 0;
    color: $text-gray;
}

a:hover {
    text-decoration: none;
    color: $text-black;
}
a {
    color: $text-black;
}
@media (max-width: 767.98px)  { 
    h1 {
        font-size: 1.7em;
    }
    .container {
        margin-top: 3em;
    }
    .row {
        margin: 0;
    }
    .category {
        min-width: 150px;
    }
    .main-content {
        padding-top:1em;
    }
    .article-info {
        margin-top: 1em;
        margin-left: 0em;
    
    }
    .article-icon {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .other-categories .cat-image {
        width: 40px;
        
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
    }
    .carousel {
        margin:0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
    }
}

</style>