<template>
<div class="container-fluid">
    <div class="container main-content-cat">
                <div class="post">
                    <div class="row">
                        <div class="col-sm">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><router-link to="/">Home</router-link></li>
                                    <li class="breadcrumb-item active" aria-current="page">{{article.title}}</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <h4 class="post-title">{{article.title}}</h4>
                            <p class="last-update">Last update {{calculateDays(article.updatedOn)}} days ago</p>
                            <p>{{article.content}}</p>
                        </div>
                    </div>
                    

        </div>
        </div>
        </div>
</template>
<script>
import axios from 'axios'
import shared from '../shared.js'

export default {
    name: "Article",
    props: ['id'],
    methods: {
        calculateDays: shared.calculateDays
    },
    data () {
        return {
        article: []
        }
    },
    created() {
    axios.get('http://localhost:9000/articles')
      .then(res => { this.article = res.data.find(art=> art.id == this.id);})
      .catch(err => console.log(err))


    }
}
</script>
<style lang="scss" scoped>
@import '../scss/_variables.scss';
.container {
    margin-top: 8em;
    padding: 0;
}

.container-fluid {
    background-color: $bg-gray;
    padding: 0;

}
.main-content {
    background-color: $bg-gray;
    margin-top:2em;
    padding-top:5em;
    padding-bottom:5em;

}
.main-content-cat {
    background-color: $bg-gray;
    margin-top:2em;

}

ol.breadcrumb  {
    background-color: $bg-gray;
    padding: 15px 0;
    margin-bottom:0 ;
}

ol.breadcrumb li.breadcrumb-item{
    font-size: 0.7em;
}
ol.breadcrumb li.breadcrumb-item a { 
    color: $green;
}
ol.breadcrumb li.breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: $text-gray;
}
ol.breadcrumb li.breadcrumb-item:nth-child(1)::before {
    content: "";
}
p.last-update {
    font-size: 0.6em;
    margin: 0;
    color: $text-gray;
}
h4 {
    font-size: 1.1em;
}
h5 {
    color: $text-gray;
    text-align: center;
    font-size: 1.1em;
    padding-top: 20px;
}
h4.post-title {
    font-size: 1.5em;
    padding-top:1em
}
.post {
    padding-bottom: 5em;
}
@media (max-width: 767.98px)  { 
    h1 {
        font-size: 1.7em;
    }
    .container {
        margin-top: 3em;
    }
    .row {
        margin: 0;
    }
    .category {
        min-width: 150px;
    }
    .main-content {
        padding-top:1em;
    }
    .article-info {
        margin-top: 1em;
        margin-left: 0em;
    
    }
    .article-icon {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .other-categories .cat-image {
        width: 40px;
        
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
    }
    .carousel {
        margin:0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
    }
}
</style>