<template>
    <div v-bind:key="category.id" class="category col-3">
        <router-link :to="`/knowledgebase/${category.id}`">
        <img class="cat-image" v-bind:src="require(`../assets/img/${category.icon}.png`)" />
        <h3>{{category.title}}</h3>
        <p class="article-num">{{category.totalArticle}} articles</p><p class="last-update">Last update {{calculateDays(category.updatedOn)}} days ago</p>
        </router-link>
    </div>
</template>

<script>
import shared from '../shared.js'

export default {
    name: 'CategoryItem',
    props: ["category"],
    methods: {
        calculateDays : shared.calculateDays
    }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';
.col {
    max-width: 200px;
}
h3 {
    font-size: 1em;
    font-weight: 700;
}
a:hover {
    text-decoration: none;
    color: $text-black;
}
a {
    color: $text-black;
}

.category:hover {
    border-color: $green;
}

img.cat-image {
    display: block;
    width: 70px;
    margin: 0 auto;
}

p.article-num {
    font-size: 0.7em;
    color: $green;
    margin: 0;
    margin-top:15px;
    font-weight: 700;
}

p.last-update {
    font-size: 0.6em;
    margin: 0;
    color: $text-gray;
}
@media (max-width: 767.98px)  { 
    h1 {
        font-size: 1.7em;
    }
    .container {
        margin-top: 3em;
    }
    .row {
        margin: 0;
    }
    .category {
        min-width: 150px;
    }
    .main-content {
        padding-top:1em;
    }
    .article-info {
        margin-top: 1em;
        margin-left: 0em;
    
    }
    .article-icon {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .other-categories .cat-image {
        width: 40px;
        
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
    }
    .carousel {
        margin:0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
    }
}
</style>