<template>
    <div class="container-fluid other-categories">
        <div>
            <h5>Other Categories</h5>
        </div>
        <div id="carouselExampleControls" class="container carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item" v-bind:class="(index === 0)?'active':''" v-bind:key="index" v-for="(categories, index) in group_cat">
                    <div class="row justify-content-md-center">
                        <category-item v-bind:category="category" v-bind:key="category.id" v-for="category in categories" />
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="post">
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import CategoryItem from './CategoryItem.vue'

export default {
    name: "CategoryCarousel",
    components: {
    'category-item' : CategoryItem

    },
    
    data () {
        return {
        group_cat: []
        }
    },
    created () {
        let group_cat = [new Array()];
        let group_count = 0;
        let group_three = 0;
        axios.get('http://localhost:9000/categories?_sort=order')
        .then(res => {

            let categories = res.data.filter(cat=>cat.enabled);
            categories.forEach( cat => {
                if(typeof group_cat[group_count] === 'undefined')
                    group_cat[group_count] = new Array();
                group_cat[group_count].push(cat);
                group_three++;
                if(group_three > 2) {
                    group_count++;
                    group_three  = 0;
                    
                }
                //console.log(group_cat)
            })
            this.group_cat = group_cat;

        })
        .catch(err => console.log(err))
    }
}
</script>
<style lang="scss" scoped>
@import '../scss/_variables.scss';
h3 {
    font-size: 1em;
    font-weight: 700;
}
h4 {
    font-size: 1.1em;
}
h5 {
    color: $text-gray;
    text-align: center;
    font-size: 1.1em;
    padding-top: 20px;
}
.container-fluid {
    background-color: $bg-gray;
    padding: 0;
}

.category {
    background-color: $cat-bg;
    margin:0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 150px;
    min-width: 200px;
    text-align: center;
    padding: 25px;

}

img.cat-image {
    display: block;
    width: 70px;
    margin: 0 auto;
}

p.article-num {
    font-size: 0.7em;
    color: $green;
    margin: 0;
    margin-top:15px;
    font-weight: 700;
}

p.last-update {
    font-size: 0.6em;
    margin: 0;
    color: $text-gray;
}

a:hover {
    text-decoration: none;
    color: $text-black;
}
a {
    color: $text-black;
}

ol.breadcrumb  {
    background-color: $bg-gray;
    padding: 15px 0;
    margin-bottom:0 ;
}

ol.breadcrumb li.breadcrumb-item{
    font-size: 0.7em;
}
ol.breadcrumb li.breadcrumb-item a { 
    color: $green;
}
ol.breadcrumb li.breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: $text-gray;
}
ol.breadcrumb li.breadcrumb-item:nth-child(1)::before {
    content: "";
}

.col-md-3, .col{
    padding:1px;
}
.col-9 {
    margin-left: 1em;
}
.cat-info {
    background-color: $cat-bg;
    
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 150px;
    text-align: center;
    padding:15px 0 0 0;
    margin: 0 auto;

}
.cat-info:hover {
    border-color: $green;
}
.article-info {
    
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: left;
    padding:15px 0 0 0;
    margin-left: 5em;
    margin-bottom: 1em;
    min-height: 70px;
    background: url('../assets/img/arrow.png') no-repeat;
    background-position: 96%;
    background-size: 20px;
    background-color: $cat-bg;
}
.article-info:hover {
    border-color: $green;
}

.cat-bottom-info {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 15px;
}
.cat-bottom-info p {
    font-size: 0.7em;
    color: $text-gray;
    margin-bottom: -5;
    padding:10px 15px 0;

}
.cat-bottom-info img {
    width: 25px;
}
.article-num-side {
    text-align: right;
    padding-right: 15px;
}
.article-num-side img {
    width: 20px;
}
.article-num-side span {
    font-size: 0.7em;
    line-height: 0;
    color: $text-gray;
}
.article-icon {
    width: 25px;
    margin-left: 20px;
    margin-top: 5px;
}

.other-categories {
    border-top: 1px solid #eee;
    margin-top: 3em;
    padding-bottom:3em;
}
.carousel {
    margin:0 auto;
    padding-left: 5em;
    padding-right: 5em;

}
.carousel-item .cat-info {
    max-width: 300px;
}
.carousel-control-prev, .carousel-control-next {
    background-color: none;
    width: 100px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-color: white;

}
.carousel-control-prev-icon {
    background-image: url('../assets/img/arrow-left-white.png');
    background-size: 30px;
}
.carousel-control-next-icon {
    background-image: url('../assets/img/arrow-right-white.png');
    background-size: 30px;
}
h4.post-title {
    font-size: 2em;
}
.post{
    padding-bottom: 5em;
}
@media (max-width: 992px)  { 
    .category {

    min-width: 130px;
    margin:0.3em;
    padding: 10px;

    }
}
@media (max-width: 767.98px)  { 
    .category {

    min-width: 130px;
    margin:0.1em;
    padding: 10px;

    }
}


</style>