<template>
    <div class="container-fluid">
        <div class="container  main-content">
            <div class="row justify-content-center">
                <category-item v-bind:category="category" v-bind:key="category.id" v-for="category in categories" />
            </div>
        </div>
    </div>
</template>
<script>
import axios from 'axios'
import CategoryItem from './CategoryItem.vue'

export default {
    name: 'Categories',
    components: {
    'category-item' : CategoryItem

    },
    data () {
        return {
        categories: []
        }
    },
   created() {
    axios.get('http://localhost:9000/categories?_sort=order')
      .then(res => {this.categories = res.data.filter(cat=>cat.enabled);})
      .catch(err => console.log(err))
    }

}
</script>
<style lang="scss" scoped>
@import '../scss/_variables.scss';

.container-fluid {
    background-color: $bg-gray;
    padding: 0;

}


.category {
    background-color: $cat-bg;
    margin:0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 150px;
    min-width: 200px;
    text-align: center;
    padding: 25px;

}
@media (max-width: 767.98px)  { 
    h1 {
        font-size: 1.7em;
    }
    .container {
        margin-top: 3em;
    }
    .row {
        margin: 0;
    }
    .category {
        min-width: 150px;
    }
    .main-content {
        padding-top:1em;
    }
    .article-info {
        margin-top: 1em;
        margin-left: 0em;
    
    }
    .article-icon {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .other-categories .cat-image {
        width: 40px;
        
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
    }
    .carousel {
        margin:0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
    }
}


</style>