        <div id="carouselExampleControls" class="container carousel" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row justify-content-md-center">
                        <div class="col">
                            <div class="cat-info">
                                <router-link to="/knowledgebase/cat1">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/play.png`)" alt="Getting Started" />
                                    <h3>Getting Started</h3>
                                    <p class="article-num">10 articles</p><p class="last-update">Last update 2 days ago</p>
                                </router-link>
                            </div>
                        </div>
                        <div class="col">
                            <div class="cat-info">
                                    <router-link to="/knowledgebase/cat2">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/comment.png`)" alt="Getting Started" />
                                    <h3>Chat Widget</h3>
                                    <p class="article-num">10 articles</p><p class="last-update">Last update 2 days ago</p>
                                    </router-link>
                            </div>
                        </div>
                        <div class="col">
                            <div class="cat-info">
                                <router-link to="/knowledgebase/cat3">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/desktop.png`)" alt="Getting Started" />
                                    <h3>Using the Dashboard</h3>
                                    <p class="article-num">20 articles</p><p class="last-update">Last update 2 days ago</p>
                                </router-link>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col">
                            <div class="cat-info">
                                <router-link to="/knowledgebase/cat5">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/gem.png`)" alt="Getting Started" />
                                    <h3>Advanced Features</h3>
                                    <p class="article-num">5 articles</p><p class="last-update">Last update 2 days ago</p>
                                </router-link>
                            </div>
                        </div>
                        <div class="col">
                            <div class="cat-info">
                                <router-link to="/knowledgebase/cat4">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/link.png`)" alt="Getting Started" />
                                    <h3>Integrations</h3>
                                    <p class="article-num">15 articles</p><p class="last-update">Last update 2 days ago</p>
                                </router-link>
                            </div>
                        </div>
                        <div class="col">
                            <div class="cat-info">
                                <router-link to="/knowledgebase/cat7">
                                    <img class="cat-image" v-bind:src="require(`../assets/img/shopping-cart.png`)" alt="Getting Started" />
                                    <h3>E-commerce Integrations</h3>
                                    <p class="article-num">5 articles</p><p class="last-update">Last update 2 days ago</p>
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>