<template>
    <div class="container">
        <h1>Knowledge base doesn't have to be boring</h1>
        <h2>Everything you need to Manage your Messaging</h2>
        <div class="row">
        <div class="col-md-8 offset-md-2">
            <form>
                <div class="input-group input-group-lg">
                    <input v-model="keyword" type="text" class="form-control input-search" placeholder="Search for answers" aria-label="Search Knowledge Base" aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <button v-on:click="search" class="btn btn-primary btn-search" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Header",
    data () {
        return {
            keyword: ""
        }
    },
    methods: {
        search: function(event) {
            event.preventDefault();
            this.$router.push('/search/' + this.keyword).catch(()=>{});
        }
    }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

h1 {
	text-align: center;
	font-size: 2em;
	font-weight: 700;
}
h2 {
	text-align: center;
	font-size: 1em;
}

.input-group {
    margin-top: 3em;
}
.btn.btn-primary.btn-search:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: $green;
    border-color: $green;
}
.btn-search {
    background-color: $green;
    border-color: $green;
    min-width: 80px;
}

.btn-search:hover {
    background-color: $green-hover;
    border-color: $green-hover;
}

.input-search {
    border-color: #eee;
    min-height: 50px;
}

.input-group-lg {
    height: 50px;
}
  
.form-control::placeholder {
    color: $text-gray;
    opacity: 1; 
    font-size: 0.8em;
   
  }
  
.form-control:-ms-input-placeholder { 
    color: $text-gray;
    font-size: 0.8em;
    transform:translate3d(0,-2px,0)
}
  
.form-control::-ms-input-placeholder { 
    color: $text-gray;
    font-size: 0.8em;
    transform:translate3d(0,-2px,0)
}
</style>