<template>
<div class="container-fluid">
    <div class="container main-content-cat">
        <div class="row">
            <div class="col-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/">Home</router-link></li>
                        <li class="breadcrumb-item active" aria-current="page">{{category.title}}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">   
            <div class="col-md-3">
                <div class="cat-info">
                        <div class="article-num-side"><img v-bind:src="require(`../assets/img/article.png`)" alt="info" /><span>{{category.totalArticle}}</span></div>
                        <img class="cat-image" v-bind:src="require(`../assets/img/${category.icon}.png`)" />
                        <h3>{{category.title}}</h3>
                        <p class="last-update">Last update {{calculateDays(category.updatedOn)}} days ago</p>
                    <div class="cat-bottom-info">
                        <img v-bind:src="require(`../assets/img/info.png`)" alt="info" />
                        <p>{{category.description}}</p>
                    </div>
                </div>
            </div>
            <div v-if="Object.keys(articles).length != 0" class="col">
                <article-item  v-bind:article="article" v-bind:key="article.id" v-for="article in articles"/>
            </div>
            <div class="col" v-else>
                <div class="alert alert-info" role="alert">
                    No articles on this category.
                </div>
            </div>
        </div>
    </div>
    <category-carousel />
</div>

</template>
<script>
import axios from 'axios'
import ArticleItem from './ArticleItem.vue'
import CategoryCarousel from './CategoryCarousel.vue'
import shared from '../shared.js'



export default {
    name: 'Knowledgebase',
    props: ['id'],
    components: {
        "article-item": ArticleItem,
        "category-carousel": CategoryCarousel
    },
    methods: {
        calculateDays : shared.calculateDays
    },
    data () {
        return {
        category: [],
        articles: [],
        }
    },
    created() {
        console.log(this.category)
    axios.get('http://localhost:9000/categories')
      .then(res => {this.category = res.data.find(cat=>cat.id == this.id);console.log(this.category) })
      .catch(err => console.log(err))
    
    axios.get('http://localhost:9000/articles?category_id='+this.id)
      .then(res => { this.articles = res.data.filter(art=> art.status == "published");})
      .catch(err => console.log(err))


    }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';
i {
    text-rendering: optimizeLegibility;
}
.container {
    margin-top: 8em;
    padding: 0;
}
.alert {
    margin-left:20px
}

h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-size: 1em;
}
h3 {
    font-size: 1em;
    font-weight: 700;
}
h4 {
    font-size: 1.1em;
}
h5 {
    color: $text-gray;
    text-align: center;
    font-size: 1.1em;
    padding-top: 20px;
}

.input-group {
    margin-top: 3em;
}
.btn.btn-primary.btn-search:focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
    background-color: $green;
    border-color: $green;
}
.btn-search {
    background-color: $green;
    border-color: $green;
    min-width: 80px;
}

.btn-search:hover {
    background-color: $green-hover;
    border-color: $green-hover;
}

.input-search {
    border-color: #eee;
    min-height: 50px;
}

.input-group-lg {
    height: 50px;
}
  
.form-control::placeholder {
    color: $text-gray;
    opacity: 1; 
    font-size: 0.8em;
   
  }
  
.form-control:-ms-input-placeholder { 
    color: $text-gray;
    font-size: 0.8em;
    transform:translate3d(0,-2px,0)
}
  
.form-control::-ms-input-placeholder { 
    color: $text-gray;
    font-size: 0.8em;
    transform:translate3d(0,-2px,0)
}

.container-fluid {
    background-color: $bg-gray;
    padding: 0;

}
.main-content {
    background-color: $bg-gray;
    margin-top:2em;
    padding-top:5em;
    padding-bottom:5em;

}
.main-content-cat {
    background-color: $bg-gray;
    margin-top:2em;

}

.category {
    background-color: $cat-bg;
    margin:0.5em;
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 150px;
    min-width: 200px;
    text-align: center;
    padding: 25px;

}
.category:hover {
    border-color: $green;
}

img.cat-image {
    display: block;
    width: 70px;
    margin: 0 auto;
}

p.article-num {
    font-size: 0.7em;
    color: $green;
    margin: 0;
    margin-top:15px;
    font-weight: 700;
}

p.last-update {
    font-size: 0.6em;
    margin: 0;
    color: $text-gray;
}

a:hover {
    text-decoration: none;
    color: $text-black;
}
a {
    color: $text-black;
}

ol.breadcrumb  {
    background-color: $bg-gray;
    padding: 15px 0;
    margin-bottom:0 ;
}

ol.breadcrumb li.breadcrumb-item{
    font-size: 0.7em;
}
ol.breadcrumb li.breadcrumb-item a { 
    color: $green;
}
ol.breadcrumb li.breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: $text-gray;
}
ol.breadcrumb li.breadcrumb-item:nth-child(1)::before {
    content: "";
}

.col-md-3, .col{
    padding:1px;
}
.col-9 {
    margin-left: 1em;
}
.cat-info {
    background-color: $cat-bg;
    
    border: 1px solid #eee;
    border-radius: 5px;
    min-height: 150px;
    text-align: center;
    padding:15px 0 0 0;
    margin: 0 auto;

}
.cat-info:hover {
    border-color: $green;
}
.article-info {
    
    border: 1px solid #eee;
    border-radius: 5px;
    text-align: left;
    padding:15px 0 0 0;
    margin-left: 5em;
    margin-bottom: 1em;
    min-height: 70px;
    background: url('../assets/img/arrow.png') no-repeat;
    background-position: 96%;
    background-size: 20px;
    background-color: $cat-bg;
}
.article-info:hover {
    border-color: $green;
}

.cat-bottom-info {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding-top: 15px;
}
.cat-bottom-info p {
    font-size: 0.7em;
    color: $text-gray;
    margin-bottom: -5;
    padding:10px 15px 0;

}
.cat-bottom-info img {
    width: 25px;
}
.article-num-side {
    text-align: right;
    padding-right: 15px;
}
.article-num-side img {
    width: 20px;
}
.article-num-side span {
    font-size: 0.7em;
    line-height: 0;
    color: $text-gray;
}
.article-icon {
    width: 25px;
    margin-left: 20px;
    margin-top: 5px;
}


@media (max-width: 767.98px)  { 
    h1 {
        font-size: 1.7em;
    }
    .container {
        margin-top: 3em;
    }
    .row {
        margin: 0;
    }
    .category {
        min-width: 150px;
    }
    .main-content {
        padding-top:1em;
    }
    .article-info {
        margin-top: 1em;
        margin-left: 0em;
    
    }
    .article-icon {
        width: 25px;
        margin-left: 10px;
        margin-top: 5px;
    }
    .other-categories .cat-image {
        width: 40px;
        
    }
    .carousel-control-prev, .carousel-control-next {
        width: 50px;
    }
    .carousel {
        margin:0 auto;
        padding-left: 1.5em;
        padding-right: 1.5em;
    
    }
    .alert {
    margin-left:0
    }

}

</style>