<template>
<div class="container-fluid">
    <div class="container main-content-cat">
        <div class="row">
            <div class="col-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><router-link to="/">Home</router-link></li>
                        <li class="breadcrumb-item active" aria-current="page">Search</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div v-if="Object.keys(articles).length != 0" class="col">
            <h4>Search result for "{{this.keyword}}"</h4>
            <search-item v-bind:keyword="keyword" v-bind:article="article" v-bind:key="article.id" v-for="article in articles"/>
        </div>
        <div class="col" v-else>
            <div class="alert alert-info" role="alert">
                No articles with "{{this.keyword}}" keyword.
            </div>
        </div>
    </div>
</div>
</template>
<script>
import axios from 'axios'
import SearchItem from './SearchItem.vue'

export default {
    name: "Search",
    props: ['keyword'],
    components: {
        "search-item": SearchItem,
    },
    data () {
        return {
            articles: []
        }
    },
    created() {
        let keywords = this.keyword.trim().replace(/\s+/g, " ").split(" ");
        let articles = [];
        let promises = [];

        keywords.forEach( (key) => {
             promises.push(axios.get('http://localhost:9000/articles?title_like='+key)
                 .then(res => { 
                     articles.push(res.data);
                     //console.log(key)  
                     })
                 .catch(err => console.log(err)))
        
        })

        Promise.all(promises).then(() => {
            articles.forEach((article)=> {
                this.articles = [...this.articles, ...article]
            })

            function arrayUnique(array) {
                var a = array.concat();
                for(var i=0; i<a.length; ++i) {
                    for(var j=i+1; j<a.length; ++j) {
                        if(a[i].id === a[j].id)
                            a.splice(j--, 1);
                    }
                }

                return a;
            }

            this.articles = arrayUnique(this.articles);

            
        });





    }
}
</script>

<style lang="scss" scoped>
@import '../scss/_variables.scss';

ol.breadcrumb  {
    background-color: $bg-gray;
    padding: 15px 0;
    margin-bottom:0 ;
}

ol.breadcrumb li.breadcrumb-item{
    font-size: 0.7em;
}
ol.breadcrumb li.breadcrumb-item a { 
    color: $green;
}
ol.breadcrumb li.breadcrumb-item::before {
    font-family: 'FontAwesome';
    content: "\f105";
    color: $text-gray;
}
ol.breadcrumb li.breadcrumb-item:nth-child(1)::before {
    content: "";
}

.main-content-cat {
    padding-bottom:5em;
}

</style>