<template>
  <div>
    <tawk-header></tawk-header>
    <router-view :key="$route.path"/>
  </div>
</template>

<script>
import Header from './components/Header.vue'

import axios from 'axios'
import router from './router.js'

export default {
  name: 'app',
  router: router,
  components: {
    'tawk-header': Header,

  },
  data () {
    return {
      categories: []
    }
  },
  methods : {

  },
  created() {
    axios.get('http://localhost:9000/categories')
      .then(res => {this.categories = res.data.filter(cat=>cat.enabled); })
      .catch(err => console.log(err))


  }
}
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&subset=latin-ext");
@import '/scss/_variables.scss';

	body {
		font-family: $font-family;
		color: $text-black;
	}
	i {
		text-rendering: optimizeLegibility;
	}
	.container {
		margin-top: 8em;
		padding: 0;
  }

.container-fluid {
    background-color: $bg-gray;
    padding: 0;

}
.main-content {
    background-color: $bg-gray;
    margin-top:2em;
    padding-top:5em;
    padding-bottom:5em;

}
.main-content-cat {
    background-color: $bg-gray;
    margin-top:2em;

}
  
</style>
